{% import "macros.j2" as macros with context %}
<!doctype html>
<html lang="en">
  <head>
    <title>Blog{% if resource.meta.title-%} | {{resource.meta.title}} {%-endif %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/w3.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/blog/article.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/font-awesome.min.css') }}">
    
    <link href="http://fonts.googleapis.com/css?family=Anton"
            rel="stylesheet" type="text/css">

    <!-- Turn on code highlighting -->
    <link rel="stylesheet" href="{{ media_url('css/highlight/hybrid.css') }}">
    <script src="/media/js/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <meta name="author" content="{{author.name}}" />
    <meta name="description" content="{{resource.meta.description}}" />
    {% for item in soft %}
    <meta name="generator" content="{{item["name"]}} {{item["version"]}}" />
    {% endfor %}
    <meta name="keywords" content="{{resource.meta.keywords}}" />
  </head>
  <body>
    {{ macros.render_main_menu() }}
    <header class="w3-container w3-center w3-padding-64 w3-xxlarge w3-mobile">
      {{resource.meta.title}}
    </header>
    <div class="" style="max-width:800px;margin:0 auto;">
      <ul id="articles" class="w3-ul w3-hoverable w3-large">
        {% for res in resource.node.walk_resources_sorted_by_date() %}
        <li class="w3-hover-grey w3-card-4" onclick="location.href='{{ content_url(res.url) }}';">
            <i id="calendar" class="fa fa-calendar-check-o w3-text-dark-red"> [{{res.meta.date}}]</i>
            <span>
              {{res.meta.title}}
            </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>