<!doctype html>
<html lang="en">
  <head>
    <title>Blog{% if resource.meta.title-%} | {{resource.meta.title}} {%-endif %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/w3.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/blog/article.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Anton"
            rel="stylesheet" type="text/css">

    <!-- Turn on code highlighting -->
    <link rel="stylesheet" href="{{ media_url('css/highlight/hybrid.css') }}">
    <script src="/media/js/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <meta name="author" content="{{author.name}}" />
    <meta name="description" content="{{resource.meta.description}}" />
    {% for item in soft %}
    <meta name="generator" content="{{item["name"]}} {{item["version"]}}" />
    {% endfor %}
    <meta name="keywords" content="{{resource.meta.keywords}}" />
  </head>
  <body>
  <h1>List of articles</h1>
    <ul class="listing clearfix">
      {% for res in resource.node.walk_resources_sorted_by_date() %}
      <li>
          <a href="{{ content_url(res.url) }}">{{res.meta.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>